html, body {
    height: 100%;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#intro-name {
    font-size: 3em;
    font-weight: 600;
    line-height: 0.5;
}

#intro-bg {
  /*background: url("https://www.w3schools.com/css/trolltunga.jpg") center center no-repeat; */
  background: url("../img/Arjun_Lights.jpeg") no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important; 
/*  width: 100%;
  height: 100%; */
}

./*bg-primary {
    background-color: #f0f !important;
}*/
