html, body {
    height: 100%;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#intro-name {
    font-size: 3em;
    font-weight: 600;
    line-height: 0.5;
}

#intro-bg {
  background: url("../img/Arjun_Lights.jpeg") no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}