* {
    font-family:'Courier';
}

body{
    margin: 40px auto;
    max-width: 650px;

    line-height: 1.6;
    font-size: 18px;

    color: #444;

    padding: 010px;
}

h1,h2,h3{
    line-height:1.2
}

.center-div {
    width: 640px;

    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;

    background: rgba(0,0,0,0);
}